@{
    ViewData["Title"] = "إدارة الشركاء";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var partners = Model ?? new List<GAMA.CO5.Models.Partner>();
}

    <div class="row g-4">
        <div class="col-md-4">
            <a asp-controller="AdminJobs" asp-action="Index" class="btn btn-primary w-100 p-4">
                إدارة الوظائف
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="AdminServices" asp-action="Index" class="btn btn-success w-100 p-4">
                إدارة الخدمات
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="AdminProducts" asp-action="Index" class="btn btn-warning w-100 p-4">
                إدارة المنتجات
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="AdminPartners" asp-action="Index" class="btn btn-info w-100 p-4">
                إدارة الشركاء
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="AdminContactMessages" asp-action="Index" class="btn btn-dark w-100 p-4">
                رسائل التواصل
            </a>
        </div>


        <div class="col-md-4">
            <a asp-controller="AdminUsers" asp-action="Index" class="btn btn-secondary w-100 p-4">
                إدارة المستخدمين
            </a>
        </div>
    </div>
</div>