html, body {
    font-family: 'Tajawal', 'Cairo', sans-serif;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.nav-link {
    @apply px-4 py-2 rounded-xl text-white font-bold transition;
}