@model IEnumerable<GAMA.CO5.Models.ContactMessage>

@{
    ViewData["Title"] = "Admin Contact Messages";
}

<h2>Contact Messages</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Message</td>
            </tr>
        }
    </tbody>
</table>